{% extends 'mainapp/base.html' %}
{% load thumbnail %}
{% load staticfiles %}
{% load i18n %}
{% load l10n %}
{% load tz %}
{% block title %}{% trans 'Password Recovery' %}{% endblock %}
{% block content %}

<!-- Reset Password -->

<div class="container">
	<div class="row">
			<section class="reset-id-section">
				<div class="col-md-12">
                    <div class="inner_title full-width">
                       <h1 class="pull-left full-width text-center">{% trans 'Reset your Password' %}</h1>
                    </div>
                 </div>

                 <div class="col-md-10 col-normal">

                    <div class="form invite-friend-email">
                    
                    
                       <div class="invite-email-input">
                          <div class="reset-form">
					
					{% csrf_token %}
						
						<div class="form-group">
							<div class="col-md-6 col-sm-6"><input type="Password" name="Password" id='1st_pass' class="Password" placeholder="Password"></div>
							<div class="col-md-6 col-sm-6"><input type="Password" name="confirm_Password" id="confirm_pass" placeholder="Confirm Password"></div>
							<input type="hidden" id="hidden_user" value="{{user_id}}">
							<input type="hidden" id="hidden_act" value="{{activation_key}}">
							<button id="reset_pass" class="reset-submit=">{% trans 'Submit' %}</button>
						</div>
						
				
				</div>
                       </div>   
                    </div>
                 </div>



							
			</section>	
	</div>
</div>

{% endblock %}


<!-- <script src="{% static 'js/jquery-3.1.0.min.js' %}"></script>
 
<script src="{% static 'login_register/js/bootstrap.min.js' %}"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="{% static 'toast_noti/js/jquery.toast.js' %}"></script>
 -->




