{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% trans 'Admin page' %}: {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'fullpage/jquery.fullpage.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.min.css' %}">
    {% block styles %}{% endblock %}
</head>
<body>

<div class="container col-md-16 col-lg-16 col-xs-16 control no-margins">
    {% if not request.user.is_staff and not request.user.profile.is_employee %}
        {% include 'control/inc/nav.html' %}
    {% else %}
        {% include 'control/inc/admin_nav.html' %}
    {% endif %}
    {% block content %}{% endblock %}
    <div class="clearfix"></div>
    <br>
{#    {% include 'inc/control_footer.html' %}#}
</div>

<script src="{% static 'js/jquery-3.1.0.min.js' %}"></script>
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
{% block scripts %}{% endblock %}
<script src="{% static 'js/main_control.min.js' %}"></script>
<script type="text/javascript" src="{% url 'javascript-catalog' %}"></script>
</body>
</html>