<div class="col-xs-12 individual_col_padding">
	<span class="lunchbox-delivery_date_new">
		Delivery Date:
		<input type="text" id="ddate" class="ddate" name="d_date" >
	</span>

	<span class="lunchbox-delivery_time_new">
		Delivery Time:
		<!-- <input type="text" id="dtime" class="dtime" name="d_time" id="d_time"> -->
		<select id="select_dtime" class="select_dtime" name="select_d_time" onchange="check_delivery_datetime();" >
	<option value="0">Select delivery time</option>
			<option value="12:00">12:00-13:00</option>
			<option value="13:00">13:00-14:00</option>
			<option value="14:00">14:00-15:00</option>
			<option value="15:00">15:00-16:00</option>
		</select>
	</span>


</div>