{% extends 'mainapp/base.html' %}
{% load thumbnail %}
{% load staticfiles %}
{% load i18n %}
{% load l10n %}
{% load tz %}
{% block title %}{% trans 'Password Recovery' %}{% endblock %}
{% block content %}
<section class="invite-friend-section">
  <div class="container clearfix">
   <div class="row">
     <div class="pull-left full-width">
       
  	
          <form action="{% url 'forget_password' %}" method="POST" onsubmit="return validateRecoveryForm()">
          {% csrf_token %}
            <div class="form-group">
              <div class="col-md-12">
                    <div class="inner_title full-width">
                       <h1 class="pull-left full-width text-center">{% trans 'Password Recovery' %}</h1>
                    </div>
                 </div>

            <div class="col-md-10 col-normal">

                    <div class="form invite-friend-email">
                    {% if message %}
                    <p class="red">{{message}}</p>
                    {% endif %}
                    {% if go_to_email %}
                    <p class='green'>{{go_to_email}}</p>
                    {% endif %}
                       <div class="invite-email-input">
                          <input type="text" name="email" class="recovery_email" placeholder="Enter your email">
                            <button type="submit">{% trans 'Send' %}</button>
                       </div>   
                    </div>
                 </div>
            </div>
          </form>
       </div>
   </div>
  </div>
</section>
{% endblock %}