{% load i18n %}
{% load get_user_lunchbox_rating %}
<div class="rate_this_lunchbox" data-lb="{{ lb.id }}">
    {% if not lb.id|get_user_lunchbox_rating:request.user.id %}
        <p>{% trans 'You ordered this lunchbox! How would you rate it?' %}</p>
    {% else %}
        <p>{% trans 'You ordered this lunchbox and rated it' %}</p>
    {% endif %}
    <div class="clearfix"></div>
    <ul class="rate">
        <li {% if lb.id|get_user_lunchbox_rating:request.user.id == 1 %}class="active" {% endif %}>
            <a href="#" data-rate="1">
                <span>1 {% trans 'star' %}</span>
                <span>{% trans 'Never again!' %}</span>
            </a>
        </li>
        <li {% if lb.id|get_user_lunchbox_rating:request.user.id == 2 %}class="active" {% endif %}>
            <a href="#" data-rate="2">
                <span>2 {% trans 'star' %}</span>
                <span>{% trans 'Not a fan' %}</span>
            </a>
        </li>
        <li {% if lb.id|get_user_lunchbox_rating:request.user.id == 3 %}class="active" {% endif %}>
            <a href="#" data-rate="3">
                <span>3 {% trans 'star' %}</span>
                <span>{% trans 'Okay, I guess' %}</span>
            </a>
        </li>
        <li {% if lb.id|get_user_lunchbox_rating:request.user.id == 4 %}class="active" {% endif %}>
            <a href="#" data-rate="4">
                <span>4 {% trans 'star' %}</span>
                <span>{% trans 'Liked it a lot' %}</span>
            </a>
        </li>
        <li {% if lb.id|get_user_lunchbox_rating:request.user.id == 5 %}class="active" {% endif %}>
            <a href="#" data-rate="5">
                <span>5 {% trans 'star' %}</span>
                <span>{% trans 'Loved it !!!' %}</span>
            </a>
        </li>
    </ul>
</div>
<div class="clearfix"></div>